/*-- scss:defaults --*/

$body-bg: #28282B !default;
$body-color: #fff !default;
$link-color: #42affa !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

$presentation-h1-font-size :	1.5em !default;
$presentation-h2-font-size :	1em !default;
$presentation-h3-font-size :	0.7em !default;
$presentation-h4-font-size :	0.5em !default;

/* Your SCSS code 
.resize-image {
    img {
        width: 300px; // Adjust width as needed
        height: 200px; // Adjust height as needed
    }
}*/


/*$custom-col: green;*/

/*-- scss:rules --*/

/*.reveal section h4 {
  color: $custom-col;
}*/

